.btn {
    font-family: 'IBM Plex Sans', regular;
    font-size: 19px;
    border-radius: 5px;
    border: 1.5px solid #0F62FE;
    box-shadow: 1px 1px 4px 1.5px rgba(255, 255, 255, 0.25);
    padding: 0.8rem 2.6rem;
    background-color: black;
    color: white;
    text-align: center;
    cursor:pointer;
}