.inputField {
    padding: 1.2rem 1rem;
    background-color: transparent;
    color: white;
    border: none; 
    outline: none;
    background: none;
    width: 90%;
    border-bottom: 1px solid #ffffff;
    font-family: "IBM Plex Sans", regular;
    &:focus {
        border: 2px solid #0F62FE
    }
}

.inputLabel {
    color: white;
    font-family: "IBM Plex Sans", regular;
    font-size: 0.75rem;
    margin-top: 1rem;
}